sudo: required
language: rust
rust:
    - nightly
dist: trusty
matrix:
    include:
        - rust: nightly
env:
    - SYSTEM_CARGO=1
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq apt-utils build-essential pciutils linux-headers-`uname -r` python python3  libssl-dev 
    - sudo apt-get install -qq libgnutls28 libgnutls-dev libcurl4-gnutls-dev cmake bash libpcap-dev libnuma-dev
    - ./build.sh deps
services:
    - docker
script:
    - ./build.sh check_examples
    - ./build.sh fmt_travis 
    - ./build.sh build_container 
    - sudo ./build.sh test
install: true
