<p class="links">
  <a href="https://github.com/netsys/netbricks" alt="Code"><i class="fa fa-code-fork" aria-hidden="true"></i></a>
  <a href="mailto:apanda@cs.berkeley.edu" alt="Support"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  <a href="https://people.eecs.berkeley.edu/~apanda/assets/papers/osdi16.pdf" alt="Paper"><i class="fa fa-file-text"
                                                                                             aria-hidden="true"></i></a>
  <a href="https://netsys.cs.berkeley.edu" alt="Made By"><i class="fa fa-industry" aria-hidden="true"></i></a>
</p>
