[package]
name = "e2d2"
version = "0.1.0"
authors = ["Aurojit Panda <apanda@cs.berkeley.edu>"]
build = "build.rs"

[lib]
doctest = false

[dependencies]
libc = ">= 0.2.4"
time = ">=0.1.0"
simd = { git = "https://github.com/huonw/simd" }
getopts = "*"
byteorder = "*"
clippy = { version = "*", optional = true }
fnv = "*"
twox-hash = "*"
regex = "*"
lazy_static = "*"
net2 = "*"
# NIX restricts us to just unix for now, we can fix this if someone cares at a later point.
nix = "*"
# Figure out if we want this permanently or just for now.
rust-sctp = { git="https://github.com/netsys/rust-sctp", optional = true}

[profile.release]
opt-level = 3
lto = true
rpath = true
debug = false # We turn debug symbols off because of a bug
debug-assertions = false

[features]
default = []
performance = []
dev = ["clippy"]
packet_offset = []
sctp = ["rust-sctp"]
